<div *ngIf="product.title"  class="card" >
  <img class="card-img-top" [src]="product.imageUrl" *ngIf="product.imageUrl">
  <div class="card-body">
    <h4 class="card-title">{{product.title}}</h4>
    <p class="card-text">{{product.price | currency:'USD':true}}</p>
  </div>
  <div class="card-footer" *ngIf="showActions && shoppingCart">
    <button
      class="btn-secondary btn btn-block"
      (click)="addToCard()"
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity>
      <product-quantity [shopping-cart]="shoppingCart" [product]="product"></product-quantity>
    </ng-template>
  </div>
</div>
